aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiosignal==1.3.2
attrs==25.1.0
datasets==3.2.0
dill==0.3.8
filelock==3.17.0
frozenlist==1.5.0
fsspec==2024.9.0
huggingface-hub==0.28.1
jsonpointer==2.1
multidict==6.1.0
multiprocess==0.70.16
numpy==2.2.2
pandas==2.2.3
pillow==10.3.0
propcache==0.2.1
pyarrow==19.0.0
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0.2
typing_extensions==4.12.2
tzdata==2025.1
xxhash==3.5.0
yarl==1.18.3
